<!-- Modal -->
<div class="modal fade" id="assignServiceProviderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Assign Service Center</h4>
      </div>
      <div class="modal-body">
          <table class="table">
            <thead>
              <td>Name</td>
              <td>Available</td>
              <td>Info</td>
            </thead>
            {{#serviceCenters}}
            <tr>
              <td>
                {{name}}
                {{^status}}
                <button type="button" class="btn btn-info btn-xs">Assign Job</button>
                {{/status}}
                {{#status}}
                <button type="button" class="btn btn-danger btn-xs">Unassign Job</button>
                {{/status}}
              </td>
              <td>
                {{availableDrivers}}
              </td>
              <td>
                {{address}}<br>
                {{city}}, {{state}}<br>
                {{phone}}
              </td>
            </tr>
            {{/serviceCenters}}

          </table>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->