<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">Update your address below if inaccurate so we can better assist you.
        <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="customerAddress">Address:</label>
            <input type="text" class="customerAddress" id="customerAddress" placeholder="100 N. Fake St." value="{{address}}">
          </div>
          <button type="button" class="btn btn-primary updateAddressButton">Update</button>
        </form>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-success callContactCenterButton">Call Contact Center</button>
        {{#callServiceProvider}}
        <button type="button" class="btn btn-success callServiceProviderButton">Call Service Provider</button>
        {{/callServiceProvider}}
        {{#callDriver}}
        <button type="button" class="btn btn-success callDriverButton">Call Driver</button>
        {{/callDriver}}
      </div>
      <div class="col-md-3">
        {{#driverArrived}}
        <button type="button" class="btn btn-info driverResolvedIssueButton">Driver Resolved Issue</button>
        {{/driverArrived}}
      </div>
      <div class="col-md-3">
        <h4 class="customerStatusBar">{{status}}</h4>
      </div>
    </div>
  </div>
</div>