<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
      	Name:
      </div>
      <div class="col-md-8">
      	{{name}}
      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
      	Service:
      </div>
      <div class="col-md-8">
      	{{service}}
      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
      	Date:
      </div>
      <div class="col-md-8">
      	{{date}}
      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
      	Status:
      </div>
      <div class="col-md-8">
      	{{status}}
      </div>
    </div>
    <div class="row">
    	<div class="col-md-4">
    		Contacted:
    	</div>
    	<div class="col-md-8">
    		{{contactedByContactCenter}}
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-4">
    		Actions:
    	</div>
    	<div class="col-md-8">
    		<button type="button" class="btn btn-success callCustomerButton" onclick="infoBubbleC.callCustomerButton()">Call Customer</button>
    		<button type="button" class="btn btn-success assignServiceProviderButton">Assign Service Provider</button>
    		<button type="button" class="btn btn-success attachNoteButton">Attach Note to Job</button>
    	</div>
    </div>
  </div>
</div>