<!-- Modal -->
<div class="modal fade" id="jobListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Pick Assigned Job</h4>
      </div>
      <div class="modal-body">
          <table class="table">
            <thead>
              <td>Name</td>
              <td>Info</td>
            </thead>
            {{#jobs}}
            <tr>
              <td>
                {{firstName}} {{lastName}}<br>
                {{distance}} Miles<br>
                {{^selected}}
                <button type="button" class="btn btn-info btn-xs startJobButton" objectId="{{objectId}}">Start</button>
                {{/selected}}
                {{#selected}}
                <button type="button" class="btn btn-danger btn-xs stopJobButton">Stop</button>
                {{/selected}}
              </td>
              <td>
                {{serviceName}}<br>
              </td>
            </tr>
            {{/jobs}}
          </table>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->