<!-- Modal -->
<div class="modal fade" id="serviceRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Service Request</h4>
      </div>
      <div class="modal-body">
        <div class="jumbotron">
          <h2>Hello!</h2>
          <h5>The roadside services app lets you easily seek roadside assistance when trouble arises on the road.</h5>
          <h4>If this is an emergency or you are unsafe, call 911 first.</h4>
          <button type="button" class="btn btn-danger btn-lg btn-block">Emergency - Call 911</button>
        </div>
        <div class="buttonContainer">
          <div class="serviceButton" serviceID="Lguc788zVT"><img src="img/flatTireIcon.png">Flat Tire</div>
          <div class="serviceButton" serviceID="Lguc788zVT"><img src="img/flatTireIcon.png">Out of Gas</div>
          <div class="serviceButton" serviceID="Lguc788zVT"><img src="img/flatTireIcon.png">Call Center</div>
          <div class="serviceButton" serviceID="Lguc788zVT"><img src="img/flatTireIcon.png">Accident</div>
          <div class="serviceButton" serviceID="Lguc788zVT"><img src="img/flatTireIcon.png">Need a tow</div>
          <div class="serviceButton" serviceID="Lguc788zVT"><img src="img/flatTireIcon.png">Engine stalled</div>
        </div>
        <!-- </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->