

.driverPhoto {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.signOutButton {
  width: 25%;
  background-color: red;
  font-size: 16px;
  height: 70%;
  padding-top:2px;
  text-align: center;
  margin: 7px;
  right: 0px;
  position: absolute;
}
.driverName {
  float: left;
  width: 75%;
  font-size: 18px;
  left: 5px;
  top: 10px;
  position: relative;
}
.driverBar {
  width: 100%;
  height: 40px;
  background-color: rgba(0,0,0,0.25);
  position: absolute;
  bottom: 0px;
}
.driverCard {
  position: relative;
  display: block;
  color: white;
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.timeCardText {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 14px;
}
.leftBar {
  width: 25%;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  display: block;
}
#driverContainer {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  display: block;
  background-color: black;
}

.serviceButton {
  display: inline-block;
  position: relative;
  margin: 12px;
  width: 100px;
  height: 130px;
  float: left;
  text-align: center;
  cursor: pointer;
}

.phoneNumber {
  cursor: pointer;
  background-color: gray;
}

.buttonContainer {
  display: block;
  width: 100%;
  height: auto;
  min-height: 284px;
}

.customerBar {
  position: absolute;
  width: 100%;
}

.driverBar {
  position: absolute;
  width: 100%;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

.directions-panel {
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
}

.directions {
  position: absolute;
  width: 25%;
  height: 100%;
  margin-top: 144px;
  top:0px;
  right:0px;
  background-color: white;
}